h1,
h3 {
    color: green;
}

body,
header,
div#qrcode {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header > img {
    padding: 15px;
    width: 150px;
}

main {
    align-items: center;     
    max-width: 500px;   
    min-width: 500px;
}

.bank-account {
    padding-top: 15px;
    text-align: center;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(12, 42, 105);
}

.container{
    width: auto;
}

#wait{
    color: rgb(228, 21, 21);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: -10px
}


div.qr-container{
    margin: 0 auto;
    display: block;
    align-items: center;
    border-style: solid;
    border-color: rgb(12, 42, 105);
    border-radius: 15px;   
    height: 290px;
    max-width: 290px;
}

.disabled {
    pointer-events: none;
    opacity: 1;
  }

div.countNumber {
    color: rgb(12, 42, 105);
    font-size: 40px;
    font-weight: bold;
    text-align: center
}

div#successful {
    color: green;
    font-size: 30px;
    font-weight: bold;
    text-align: center
}

div#fail {
    color: red;
    font-size: 30px;
    font-weight: bold;
    text-align: center
}